<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "cse.preghierasmariaweb"
    versionCode = "6"
    version     = "2.5.0" >

<!-- versionCode is optional and Android only -->

  <name>Preghiera con Sant'Egidio</name>

  <description>
      Podcast e LIVE dalla Comunita' di Sant'Egidio
  </description>

  <author href="https://www.santegidio.org" email="marco.peroni@hotmail.com">
      Comunita' di Sant'Egidio
  </author>

	<icon src="hdpi.png" platform="android" qualifier="hdpi" />
	<icon src="xhdpi.png" platform="android" qualifier="xhdpi" />
	<icon src="xxhdpi.png" platform="android" qualifier="xxhdpi" />
	<icon src="xxxhdpi.png" platform="android" qualifier="xxxhdpi" />

    <!-- iPhone / iPod Touch -->
    <icon src="icon.png" platform="ios" width="57" height="57" />
    <icon src="icon@2x.png" platform="ios" width="114" height="114" />
	
	<!-- iPhone 6 / 6+ -->
	<icon src="icon-60@3x.png" platform="ios" width="180" height="180" /><!-- Recommended -->
	
	<!-- iPhone / iPod Touch  -->
	<icon src="icon-60.png" platform="ios" width="60" height="60" />
	<icon src="icon-60@2x.png" platform="ios" width="120" height="120" /><!-- Required -->

	<!-- iPad -->
	<icon src="icon-72.png" platform="ios" width="72" height="72" /><!-- Recommended -->
	<icon src="icon-72@2x.png" platform="ios" width="144" height="144" /><!-- Recommended -->
	
	<icon src="icon-76.png" platform="ios" width="76" height="76" /><!-- Recommended -->
	<icon src="icon-76@2x.png" platform="ios" width="152" height="152" /><!-- Recommended -->
	<icon src="icon-83.5@2x.png" platform="ios" width="167" height="167" /><!-- Recommended -->

	<!-- iPad Pro -->
	<icon src="icon-167.png" platform="ios" width="167" height="167" />
	
	<icon src="icon-1024.png" platform="ios" width="1024" height="1024" />


	
	<!-- Splash -->
	<splash src="splash.png" />

  <preference name="phonegap-version" platform="android" value="cli-9.0.0" />
  <preference name="phonegap-version" platform="ios" value="cli-7.1.0" />
  
  <!-- Android only -->
  <preference name="android-minSdkVersion" value="20" /> 
  <preference name="android-targetSdkVersion" value="28" /> 
    <!-- iOS only -->
  <preference name="target-device" value="universal" />
  <preference name="prerendered-icon" value="true" />
  <preference name="detect-data-types" value="true" />
  <preference name="exit-on-suspend" value="true" />
  <preference name="deployment-target" value="7.0" />
  
  <plugin name="cordova-plugin-whitelist" version="1"/>
  <allow-navigation href="https://smarias.segidio.net:8443/audio/preghiera/*" />
  <allow-navigation href="https://content.jwplatform.com/libraries/*" />
  <allow-navigation href="https://5a7c085aa114e.streamlock.net/*" />
  
  <!--<allow-navigation href="https://ssl.p.jwpcdn.com/player/v/8.12.5/*" /><-->
  <allow-navigation href="https://ssl.p.jwpcdn.com/player/v/*" />
  

  </widget>