<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "cse.preghierasmariaweb"
    versionCode = "3"
    version     = "2.2.0" >

<!-- versionCode is optional and Android only -->

  <name>Preghiera con Sant'Egidio</name>

  <description>
      Podcast e LIVE dalla basilica di Santa Maria in Trastevere in Roma
  </description>

  <author href="https://www.santegidio.org" email="marco.peroni@hotmail.com">
      Comunita' di Sant'Egidio
  </author>

  <icon src="icon.png" />
  <preference name="phonegap-version" value="cli-9.0.0" />
  <preference name="android-minSdkVersion" value="20" /> 
  <preference name="android-targetSdkVersion" value="28" /> 
  
  <plugin name="cordova-plugin-whitelist" version="1"/>
  <allow-navigation href="https://smarias.segidio.net:8443/audio/preghiera/*" />
  <allow-navigation href="https://content.jwplatform.com/libraries/*" />
  <allow-navigation href="https://5a7c085aa114e.streamlock.net/*" />
  
  <!--<allow-navigation href="https://ssl.p.jwpcdn.com/player/v/8.12.5/*" /><-->
  <allow-navigation href="https://ssl.p.jwpcdn.com/player/v/*" />
  

  </widget>