<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "cse.preghierasmariaweb"
    versionCode = "2"
    version     = "2.1.0" >

<!-- versionCode is optional and Android only -->

  <name>Preghiera con Sant'Egidio</name>

  <description>
      Podcast e LIVE dalla basilica di Santa Maria in Trastevere in Roma
  </description>

  <author href="http://www.santegidio.org" email="marco.peroni@hotmail.com">
      Comunita' di Sant'Egidio
  </author>

  <icon src="icon.png" />
  <preference name="phonegap-version" value="cli-9.0.0" />
  <preference name="android-minSdkVersion" value="20" /> 
  <preference name="android-targetSdkVersion" value="28" /> 
  
  <plugin name="cordova-plugin-whitelist" version="1"/>
  <allow-navigation href="https://smarias.segidio.net:8443/audio/preghiera/" />

  </widget>